include MANIFEST.in
include LICENSE
include README.rst
exclude *.pyc
recursive-include codenerix_payments/locale *
recursive-include codenerix_payments/management *
recursive-include codenerix_payments/migrations *