<td align='center'>{{row.user|codenerix}}</td>
<td align='center' title="{{row.locator}}"><span codenerix-html-compile='row.locator|codenerix:"shorttext:5:page:2"'></span></td>
<td align='center' title="{{row.feedback}}"><span codenerix-html-compile='row.feedback|codenerix:"bool"'></span></td>
<td>{{row.order|codenerix}} : {{row.order_ref|codenerix}}</td>
<td>{{row.request_date|codenerix}}</td>
<td>{{row.answer_date|codenerix}}</td>
<td>{{row.platform|codenerix}}</td>
<td>{{row.protocol|codenerix}}</td>
<td>{{row.total|codenerix}}</td>
<td>{{row.currency|codenerix}}</td>
<td>
    <b>
        <span ng-show='row.error' class='text-danger'>{{data.meta.gentranslate.yes}}</span>
        <span ng-hide='row.error' class='text-success'>-</span>
    </b>
</td>
<td>{{row.notes|codenerix}}</td>
<td>{{row.ip|codenerix}}</td>
<td ng-click="$event.stopPropagation();" ng-controller="codenerixPaymentRequestCtrl">

    <span ng-if='row.is_paid || row.cancelled'>
        <span ng-if='row.is_paid && (!row.cancelled) && (row.returned=="A")'>
            <button
                title="Refunded: {{row.total_returned}} {{row.currency}}"
                class='btn btn-warning btn-xs'>{{data.meta.gentranslate.refunded}}</button>
        </span>
        <span
            ng-init="showRefundButton=false"
            ng-mouseenter="showRefundButton=true"
            ng-mouseleave="showRefundButton=false"
            ng-if='row.is_paid && (!row.cancelled) && ((row.returned=="N") || (row.returned=="P"))'>
            <button
                ng-if="row.returned=='N'"
                ng-hide="showRefundButton"
                class='btn btn-success btn-xs'>{{data.meta.gentranslate.paid}}</button>
            <button
                ng-if="row.returned=='P'"
                ng-hide="showRefundButton"
                class='btn btn-warning btn-xs'>{{data.meta.gentranslate.partial_refunded}}</button>
            <button
                ng-click="submit_return(row, data.meta.context.returnurl)"
                ng-show="showRefundButton"
                title="Refunded: {{row.total_returned}} {{row.currency}} | Max refundable: {{(row.total - row.total_returned) | number:2}} {{row.currency}}"
                class='btn btn-info btn-xs'>
                    <span ng-show="row.returned!='P'">{{data.meta.gentranslate.refund}}</span>
                    <span ng-show="row.returned=='P'">{{data.meta.gentranslate.partial_refund}}</span>
            </button>
        </span>
        <span ng-if='!row.is_paid && row.cancelled'>
            <button class='btn btn-secondary btn-xs'>{{data.meta.gentranslate.cancelled}}</button>
        </span>
        <span ng-if='row.is_paid && row.cancelled'>
            <button class='btn btn-danger btn-xs'>{{data.meta.gentranslate.error}}</button>
        </span>
    </span>
    <span ng-if='!row.is_paid && (!row.cancelled)'>
        <span ng-if='!row.get_approval_list.error'>
            <button ng-click="submit_approval(row.pk, row.get_approval_list)" ng-disabled='row.is_paid' class='btn btn-info btn-xs'>{{data.meta.gentranslate.pay}}</button>
            <div style='display:none' id='PaymentInternalFormHTML{{row.pk}}'></div>
        </span>
        <span ng-if='row.get_approval_list.error' class='text-danger'>{{row.get_approval_list.error}}</span>
        <button ng-click="submit_cancel(row.locator, data.meta.context.cancelurl)" class='btn btn-danger btn-xs'>{{data.meta.gentranslate.cancel}}</button>
    </span>
</td>
